// Hello
.hero-section {
  padding: 0 6.2rem 1.4rem;
  display: grid;
  grid-template-columns: 30% 1fr;
  height: 85vh;
  align-items: center;
  justify-items: center;
  column-gap: 6.4rem;

  @media (max-width: 62.5em) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    text-align: center;
  }
  @media (max-width: 31.25em) {
    padding: 0 0.4rem 1.4rem;
  }
}

.rating-container {
  display: flex;
  align-items: center;

  &-text {
    font-size: 1.2rem;
  }
  &-icons {
    margin-right: 1.8rem;
  }

  &-icon {
    color: var(--color-white);
    background-color: var(--color-primary);
    padding: 0.2rem;
  }
  @media (max-width: 62.5em) {
    justify-content: center;
  }
}
