*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: var(--color-white);
}

.main-container {
  max-width: 160rem;
  margin: 0 auto;
}
