.accordian {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: flex-end;
  gap: 3.4rem;
  color: var(--color-white);

  .accordian-box {
    width: 15%;
    height: 100%;
    padding: 3.4rem;
    border-radius: 3.4rem;
    background-size: cover;
    background-position: center;
    transition: all 0.5s;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    cursor: pointer;

    &--1 {
      background-image: linear-gradient(transparent, var(--color-black-opac)),
        url(/assets/img/person-1-small.webp);
    }

    &--2 {
      background-image: linear-gradient(transparent, var(--color-black-opac)),
        url(/assets/img/person-2-small.webp);
    }

    &--3 {
      background-image: linear-gradient(transparent, var(--color-black-opac)),
        url(/assets/img/person-3-small.webp);
    }

    &-text {
      display: flex;
      justify-content: space-between;
    }
  }

  &-input-radio {
    display: none;
  }

  &-quote {
    width: 45%;
    font-style: italic;
    display: none;
  }

  // 1000
  @media (max-width: 62.5em) {
    gap: 0.8rem;
    .accordian-box-text {
      flex-direction: column;
    }
    .accordian-quote {
      margin-top: 1.2rem;
      width: 100%;
    }
  }

  // 700
  @media (max-width: 43.75em) {
    &-quote {
      font-size: 1.6rem;
    }
    .accordian-box {
      transition: all 0.3s;
    }
  }

  // 500
  @media (max-width: 31.25em) {
    flex-direction: column;
    align-items: center;
    gap: 1.4rem;
  }
}

.accordian-input-radio:checked + .accordian-box {
  width: 60%;
}

.accordian-input-radio:checked
  + .accordian-box
  .accordian-box-text
  .accordian-quote {
  display: block;
}

@media (max-width: 62.5em) {
  .accordian-input-radio:checked + .accordian-box,
  .accordian-input-radio:not(:checked) + .accordian-box {
    width: 85%;
  }

  .accordian-input-radio:not(:checked)
    + .accordian-box
    .accordian-box-text
    .accordian-quote {
    display: block;
  }
}
