.accordian {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: end;
  gap: 3.4rem;
  color: var(--color-white);

  .accordian-box {
    width: 15%;
    height: 100%;
    padding: 3.4rem;
    border-radius: 3.4rem;
    background-size: cover;
    background-position: center;
    transition: all 0.5s;
    display: flex;
    align-items: end;
    justify-content: space-around;
    cursor: pointer;

    &--1 {
      background-image: linear-gradient(transparent, var(--color-black-opac)),
        url(/assets/img/person-1-small.jpg);
    }

    &--2 {
      background-image: linear-gradient(transparent, var(--color-black-opac)),
        url(/assets/img/person-2-small.jpg);
    }

    &--3 {
      background-image: linear-gradient(transparent, var(--color-black-opac)),
        url(/assets/img/person-3-small.jpg);
    }

    &-text {
      display: flex;
      justify-content: space-between;
    }
  }

  &-input-radio {
    display: none;
  }

  &-quote {
    width: 45%;
    font-style: italic;
    display: none;
  }

  @media (max-width: 43.75em) {
    &-quote {
      font-size: 1.2rem;
    }
    .accordian-box {
      transition: all 3s;
    }
  }
}

.accordian-input-radio:checked + .accordian-box {
  width: 60%;
}

.accordian-input-radio:checked
  + .accordian-box
  .accordian-box-text
  .accordian-quote {
  display: block;
}
