:root {
  // Color Black
  --color-black: #212529;

  // Color White
  --color-white: #fefcfc;

  // Primary color
  --color-primary-dark: #21514f;
  --color-primary: #03ab69;
  --color-primary-light: #c8e0d8;
  --color-primary-light-2: #e6f7f0;
}
